<div class="main">

  <div class="">

  <h1><%= @myword.spelling %></h1>
  <% count = 1 %>
  <strong>Origin :</strong><br>
  <strong>Defintions :</strong>
  <% @definitions.each do |definition| %>
  <p>
    <%= count %>. <%= definition.explanation %>

  </p>
  <% count += 1 %>
  <% end %>
  <p>
    <% @myword.images.each do |image| %>
    <%= image_tag(image.image_url) %>
    <% end %>
  </p>
  <p><strong>
    <a href="#definition" class="addlink">+ definition</a> |
    <a href="#image" class="addlink">+ image</a> |
    <%= link_to "+ origin", new_word_origin_path(@myword), class: "addlink" %>
  </strong></p>
  </div>

  <div id="definition" class="modalDialog">
  	<div>
  		<a href="#close" title="Close" class="close">X</a>
      <%= form_for :definition, url: word_definitions_path(@myword) do |f| %>
        <%# render "shared/errors", object: @definition %>
        <%= f.text_field :explanation, class: "form-control" %>
        <%= f.submit %>
      <% end %>
  	</div>
  </div>
  <div id="image" class="modalDialog">
  	<div>
  		<a href="#close" title="Close" class="close">X</a>
      <%= form_for :image, url: word_images_path(@myword) do |f| %>
        <%# render "shared/errors", object: :image %>
        <%= f.file_field :image, class: "form-control" %>
        <%= f.submit %>
      <% end %>
  	</div>
  </div>
  <div id="origin" class="modalDialog">
  	<div>
  		<a href="#close" title="Close" class="close">X</a>
      <%= form_for :image, url: word_images_path(@myword) do |f| %>
        <%# render "shared/errors", object: :image %>
        <%= f.file_field :image, class: "form-control" %>
        <%= f.submit %>
      <% end %>
  	</div>
  </div>
</div>
