<div class="word-desc">

  <div class="">

    <h1><%= @myword.spelling %></h1>
      <strong> <% @myword.pronounciations.each do |pronunce| %>
        <em style="pronounce"><%= pronunce.phonetic %></em>
      <% end %>
    </strong><br><br>
    <% o_count = g_count = 1 %>
    <strong>
      <% if @origins.length > 1 %>
        <%= p 'Origin'.pluralize %>
      <% else %>
        <%= p 'Origin' %>
      <% end %>
       :</strong><br>

      <% @origins.each do |origin| %>
      <p><%= o_count %>. <%= origin.story %></p>
      <% o_count += 1 %>
      <% end %>
    <p>
    <strong>
      <% if @definitions.length > 1 %>
        <%= p 'Definition'.pluralize %>
      <% else %>
        <%= p 'Definition' %>
      <% end %>
      :</strong><br>
      <% @definitions.each do |definition| %>
        <p><%= g_count %>. <%= definition.explanation %></p>
        <% g_count += 1 %>
      <% end %>
    <p>
      <% @myword.images.each do |image| %>
        <%= image_tag(image.image_url, width: "200px") %>
      <% end %>
    </p>
    <p>
      <strong>
        <a href="#definition" class="addlink">+ definition</a> |
        <a href="#image" class="addlink">+ image</a> |
        <%= link_to "+ origin", new_word_origin_path(@myword), class: "addlink" %> |
        <%= link_to "+ pronounciation", new_word_pronounciation_path(@myword), class: "addlink" %>
      </strong>
    </p>
  </div>

  <div id="definition" class="modalDialog">
  	<div>
  		<a href="#close" title="Close" class="close">X</a>
      <%= form_for :definition, url: word_definitions_path(@myword) do |f| %>
        <%# render "shared/errors", object: @definition %>
        <%= f.text_field :explanation, class: "form-control" %>
        <%= f.submit %>
      <% end %>
  	</div>
  </div>
  <div id="image" class="modalDialog">
  	<div>
  		<a href="#close" title="Close" class="close">X</a>
      <%= form_for :image, url: word_images_path(@myword) do |f| %>
        <%# render "shared/errors", object: :image %>
        <%= f.file_field :image, class: "form-control" %>
        <%= f.submit %>
      <% end %>
  	</div>
  </div>
  <div id="origin" class="modalDialog">
  	<div>
  		<a href="#close" title="Close" class="close">X</a>
      <%= form_for :image, url: word_images_path(@myword) do |f| %>
        <%# render "shared/errors", object: :image %>
        <%= f.file_field :image, class: "form-control" %>
        <%= f.submit %>
      <% end %>
  	</div>
  </div>
</div>
