<div class="nav">
  <h1>Guahan Dictionary</h1>
<%= form_for :word, url: {controller: "words", action: "search"} do |f| %>
Input language:
<%= f.select(:language, options_from_collection_for_select(Language.all, :id, :name)) %>
  <%= f.search_field :word %>
  <%= f.submit "Search"%>
<% end %>
<ul class="letters">
  <% @alphabet.each do |letter| %>
    <% if params[:id] && params[:id] == letter.id.to_s %>
      <li><strong class="navlinks active"><%= letter.letter %></strong></li>
    <% else %>
      <li><strong class="navlinks"><%= link_to letter.letter, alphabet_path(letter), hreflang: "en" %></strong></li>
    <% end %>
  <% end %>
</ul>
<% optiondata = [] %>
<% @alphabet.each do |letter| %>
    <% optiondata << [letter.letter, letter.id] %>
<% end %>
<div class="letterSelect">
  <%= select_tag(:letter, options_for_select(optiondata)) %>
</div>
</div>
